.expandCaptionWrapper {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 100%;
}

.expandCaption {
  font-size: 14px;
  color: #3f558d;
}

.expandCaption:hover {
  text-decoration: underline;
  cursor: pointer;
}

.treetableCustom td {
  border: none;
}

.customOverlay {
  padding: 0px;
  color: #3f558d;
  transform: translateX(-80%);
}

.customOverlay:before,
.customOverlay:after {
  display: none !important;
}

.customOverlay>div {
  padding: 5px 9px;
  font-size: 12px;
}

.row {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.rowSelected {
  background-color: rgba(0, 0, 0, 0.08);
}